# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Solution1.iml
# Datasource local storage ignored files
/../../../../../../../:\TylerDev\Exercism\csharp\.idea\.idea.Solution1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
